.searchbar_category-picker {
    justify-self: center;
    margin: 0;
    padding: 4px 10px 4px 20px;
    border-radius: 10px 0 0 10px;
    background: rgba(0, 0, 0, 0.04);
    font-weight: 500;
    border: 1px solid rgb(217, 217, 217);
    border-right: none;
    min-width: 110px;
    white-space: nowrap;
}

.searchbar {
    padding: 0;
    width: 100%;
}
